@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  background-image: url('/images/bg.png'); 
  background-size: cover;
  background-position: center;
}
.bg-vertical-reverse {
  background-image: url('/images/bg.png'); /* Correctly point to the image */
  background-repeat: repeat-y; /* Repeat vertically */
  background-position: bottom; /* Start from the bottom */
  transform: scaleY(-1); /* Flip the image vertically */
  background-size: auto; /* Adjust the size of the background image */
  height: 500px; /* Optional: Set the height to full viewport */
  width: 100%; /* Optional: Set the width to 100% */
}